
body, ul, li{
	margion : 0;
	padding : 0;
	color: #666;
	
}

a{
	width: 300px;
	color: #666;
}

.accordion ul li a{
	display : block;
	background-color : #eb6b60;
	
}


.accordion > ul > li > a {
	position: relative;
	padding: 10px 37px;
	border-bottom : 1px solid #e7e7e7;
}

.accordion > ul > li.open > a{
	background-color : #eb4d3a;
}
.accordion ul ul li a{
	color: #666;
	padding : 14px 44px;
	border-botton : 1px solid #eb4d3a;
}
.icon {
  	height: 40px;
	position: relative;
 	/* Adjust these values accordingly */
}
.list-group-item{
	max-width: 300px;
	height: 30px;
	position: relative;
}
.badge{
	
}