body, ul{
	margion : 0;
	padding : 0;
}

a{
	color: #666;
	text-decoration: none;
}

.accordion ul li a{
	display : block;
}

.accordion > ul > li > a {
	
	padding : 20px 44px;
	border-bottom : 1px solid #e7e7e7;
	bacground-color : #677381;
}

.accordion > ul > li.open > a{
	background-color : #eb6b60;
}
.accordion ul ul li a{
	padding : 14px 44px;
	border-botton : 1px solid #e7e7e7;
	background-color: white;
}
.icon {
  	width: 300px;
  	height: 30px;
	text-align: center;
	white-space: nowrap;
	text-align: center;
	position: relative;
 	/* Adjust these values accordingly */
 	top: 5px;
 	left: 5px;
}
